# FastAPI para el backend
fastapi
uvicorn

# PyTorch DEBE ir primero
torch==2.1.0
torchvision==0.16.0

# Detectron2 desde GitHub, después de Torch
detectron2 @ git+https://github.com/facebookresearch/detectron2.git

# Si necesitas CORS:
python-multipart
